﻿@model TopicIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Все темы</h1>

<p>
    <a asp-action="Create">Новая тема</a>
</p>
<table class="table">
    
    <tbody>
    @foreach (var item in Model.Topics) 
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentPreview)
            </td>
           
        </tr>
    }
    </tbody>
</table>
@if (Model.PagingModel.HasPreviousPage)
{
    @Html.ActionLink("<< Назад", "Index", "Topic",
        new TopicIndexModel()
        {
           
            Page = Model.Page - 1
        })
}

<b>@Model.Page</b>

@if (Model.PagingModel.HasNextPage)
{
    @Html.ActionLink("Вперед >>", "Index", "Topic",
        new TopicIndexModel()
        {
            Page = Model.Page + 1
        })
}

